@page "/"

<h1>Hey there! I'm Patrick.</h1>
<p>I solve problems with code and make apps easier to use with UX Design
</p>

<img src="img/duck.png" width="300px" alt="Rubber Duck" />

<SurveyPrompt Title="How is Blazor working for you?" />
